<!doctype html>
<html class="body-full-height">
<head>
    <meta charset="utf-8">
    <title>{{ header.title }}  {% if header.secTitle %} | {{header.secTitle}} {% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="{{ header.baseUrl }}/asset/js/jquery-1.11.3.min.js"></script>

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{{ header.baseUrl }}/asset/css/crm/theme-forest.css"/>
    <!-- EOF CSS INCLUDE -->

    <link type="text/css" rel="stylesheet" href="{{ header.baseUrl }}/asset/css/crm/styles.css"/>
</head>

<body>
<section class="page-container page-mode-rtl">
    <article>
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="index.html">ATLANT</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="{{ account.avatar }}" alt="{{ account.fname }} {{ account.lname }}"/>
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="{{ account.avatar }}" alt="{{ account.fname }} {{ account.lname }}"/>
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">
                                {% if account.gender == '1' %}
                                {{ labels.gender.male }}
                                {% elseif account.gender == '0' %}
                                {{ labels.gender.female }}
                                {% else %}
                                {{ labels.gender.other }}
                                {% endif %}
                                {{ account.fname }} &nbsp; {{ account.lname }}
                            </div>
                            <div class="profile-data-title">
                                {{ labels.accessleveltitle }}
                                {{ account.accessLevel }}
                            </div>
                        </div>
                        <div class="profile-controls">
                            <a href="{{ header.baseUrl }}/profile/user/login/locksession" class="profile-control-left" title="{{ labels.locksession }}">
                                <span class="fa fa-lock"></span>
                            </a>
                            <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li class="xn-title">{{ labels.mainmenutitle }}</li>

                {{ generateMenu(labels.menu, 'xn-openable') }}
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
    </article>
    <article class="page-content">
        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            <li class="xn-search">
                <form role="form">
                    <input type="text" name="search" placeholder="Search..."/>
                </form>
            </li>
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="{{ header.baseUrl }}/profile/user/login/signout" title="{{ labels.signout }}">
                    <span class="fa fa-sign-out"></span>
                </a>
            </li>
            <!-- END SIGN OUT -->
            <!-- MESSAGES -->
            <li class="xn-icon-button pull-right">
                <a href="#"><span class="fa fa-comments"></span></a>
                <div class="informer informer-danger">4</div>
                <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                        <div class="pull-right">
                            <span class="label label-danger">4 new</span>
                        </div>
                    </div>
                    <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-online"></div>
                            <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                            <span class="contacts-title">John Doe</span>
                            <p>Praesent placerat tellus id augue condimentum</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <img src="assets/images/users/account.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                            <span class="contacts-title">Dmitry Ivaniuk</span>
                            <p>Donec risus sapien, sagittis et magna quis</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-away"></div>
                            <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                            <span class="contacts-title">Nadia Ali</span>
                            <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="list-group-status status-offline"></div>
                            <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                            <span class="contacts-title">Darth Vader</span>
                            <p>I want my money back!</p>
                        </a>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="pages-messages.html">Show all messages</a>
                    </div>
                </div>
            </li>
            <!-- END MESSAGES -->
            <!-- TASKS -->
            <li class="xn-icon-button pull-right">
                <a href="#"><span class="fa fa-tasks"></span></a>
                <div class="informer informer-warning">3</div>
                <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
                        <div class="pull-right">
                            <span class="label label-warning">3 active</span>
                        </div>
                    </div>
                    <div class="panel-body list-group scroll" style="height: 200px;">
                        <a class="list-group-item" href="#">
                            <strong>Phasellus augue arcu, elementum</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                            </div>
                            <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Aenean ac cursus</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                            </div>
                            <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Lorem ipsum dolor</strong>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                            </div>
                            <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                        </a>
                        <a class="list-group-item" href="#">
                            <strong>Cras suscipit ac quam at tincidunt.</strong>
                            <div class="progress progress-small">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                            </div>
                            <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                        </a>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="pages-tasks.html">Show all tasks</a>
                    </div>
                </div>
            </li>
            <!-- END TASKS -->
        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb push-down-0">
            {% if labels.breadcrumb %}
            <li><a href="#">{{labels.breadcrumb.controller}}</a></li>
            {% if not labels.breadcrumb.op %}
            <li class="active">{{ labels.breadcrumb.action }}</li>
            {% else %}
            <li>{{ labels.breadcrumb.action }}</li>
            {% endif %}

            {% if labels.breadcrumb.op %}
            <li class="active">{{ labels.breadcrumb.op }}</li>
            {% endif %}
            {% endif %}
        </ul>
        <!-- END BREADCRUMB -->

        {# if in file name is not full-width then add block-10px class #}
        {% set path_split = content_path|split('/') %}
            {# get last path split #}
            {% set l = (path_split|length)-1 %}
        {% if not search('full-width', path_split[l]) %}
        <div class="page-content-wrap block-10px">
            {% else %}
            <div class="form-group">
        {% endif %}
                <!-- START INCLUDE PAGE -->
                {# include contents file #}
                {% block content %}{% include content_path %}{% endblock %}
                <!-- END INCLUDE PAGE -->
            </div>
    </article>
</section>

    <!-- modal Popup dialog -->
    <div class="modal fade" id="modalPopup" tabindex="-1" role="dialog" aria-hidden="true"></div>

    {# include javascript files from jsfiles.html in crmLayouts folder #}
    {% block js %}
        {% include jsfiles %}
    {% endblock %}

    <script>
        var whichUser = '{{ whichUser }}';
        //run websocket
        connectWebSocket('{{ websocket.host }}:{{ websocket.port }}{{ websocket._path }}',
                '{{ labels.gbasic.notification.ws.disconnect }}', '{{ labels.gbasic.notification.ws.connect }}');
    </script>
</body>
</html>
